// Colors

$primaryColor: #333;
$primaryLightBlueColor: #20a4f3;
$primaryRedColor: #f44336;
$primaryWhiteColor: #fff;

// Breakpoints

$mobileBreakpoint: 340px;
$tabletBreakpoint: 768px;
$desktopBreakpoint: 1200px;
